# Various build artifacts from compiling the samples and examples.
build
.clang-format

# Build artifacts from compiling LaTeX documents.
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.toc

# Artifacts related to the web site.
Ada-Mascot.png
samples.zip
