# Various build artifacts from compiling the samples.
ASIS/build
GtkAda/build
Huffman/build
samples/build
samples/channel/build
samples/RavenSPARK/build
Win32Ada/build
XMLAda/build

# Build artifacts from compiling the tutorial itself.
*.aux
AdaCrash.bbl
AdaCrash.blg
AdaCrash.log
AdaCrash.out
AdaCrash.pdf
AdaCrash.toc

# Artifacts related to the web site.
Ada-Mascot.png
Thumbs.db
samples.zip
