# Various build artifacts from compiling the samples.
ASIS/build
Channel/build
GtkAda/build
Hexdump/build
samples/build
Win32Ada/build
XMLAda/build


# Build artifacts from compiling the tutorial itself.
*.aux
main.bbl
main.blg
main.log
main.out
main.pdf
main.toc

# Artifacts related to the web site.
Ada-Mascot.png
samples.zip
